form{
    background-color: rgba(243, 234, 222, 0.829);
    padding: 3%;
}

.center{
    text-align: center;
}

.submit {
    vertical-align: bottom;
}

#logo{
    width: 350px;
    height: 150px;
    /* margin-left: 33%; */
}
