.addClimb{
    background-color: rgba(243, 234, 222, 0.829);
    padding: 3%;
}

.listButton{
    display: inline;
    float: right;
    font-size: small;
    width: 25%;
}

.hide{
    visibility: hidden;
}

.center{
    text-align: center;
}

.submit {
    vertical-align: bottom;
}

.btn-danger{
    float: right;
}

.dropdown{
    display: inline-block;
}

#logo{
    width: 350px;
    height: 150px;
}

/* Color Boxes */
#green{
    width: 10px;
    height: 10px;
    background-color: green;
    display: inline-block;
}

#red{
    width: 10px;
    height: 10px;
    background-color: red;
    display: inline-block;
}

#blue{
    width: 10px;
    height: 10px;
    background-color: blue;
    display: inline-block;
}

#purple{
    width: 10px;
    height: 10px;
    background-color: purple;
    display: inline-block;
}

#yellow{
    width: 10px;
    height: 10px;
    background-color: yellow;
    display: inline-block;
}

#pink{
    width: 10px;
    height: 10px;
    background-color: hotpink;
    display: inline-block;
}

#orange{
    width: 10px;
    height: 10px;
    background-color: orange;
    display: inline-block;
}

#black{
    width: 10px;
    height: 10px;
    background-color: black;
    display: inline-block;
}

#white{
    width: 10px;
    height: 10px;
    background-color: white;
    display: inline-block;
}

#so-illgreen{
    width: 10px;
    height: 10px;
    background-color: limegreen;
    display: inline-block;
}

#brown{
    width: 10px;
    height: 10px;
    background-color: brown;
    display: inline-block;
}

#climbListItem{
    background-color: burlywood;
}

#listTitle{
    background-color: grey;
    color:honeydew
}

#filter{
    background-color: lightgray;
    padding: 3%;
}

#newSetter{
    background-color: #f55d5d;
}

#oldSetter {
    background-color: #474343;
    color:whitesmoke;
}

#targetTable {
    font-size: x-small;
    text-align: center;
}

#setterTable {
    font-size: x-small;
    text-align: center;
}